.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 70px;
    height: 70px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    opacity: 0;
    animation: shake 1s ease-in-out forwards;
}

.name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--purple);
    opacity: 0;
    animation: bounce-in 1s 0.7s ease-in-out forwards;
}

.title {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    opacity: 0;
    animation: bounce-in 1s .7s ease-in-out forwards;
}

@keyframes shake {
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        transform: scale(1.2);
    }
    40%, 60% {
        transform: rotate(-20deg) scale(1.2);
    }
    50% {
        transform: rotate(20deg) scale(1.2);
    }
    70% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    30% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    50% {
        opacity: 0.7;
        transform: translateY(30px);
    }
    70% {
        opacity: 0.8;
        transform: translateY(-5px);
    }
    90% {
        opacity: 0.9;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}