<section id="projects">
    <div class="container-lg">
        <div class="section-title">Projects</div>
        <div class="lead">Here are some of the projects I have worked on.</div>
        <swiper-container
            autoplay="true"
            loop="true"
            breakpoints='{"0": {"slidesPerView": 1}, "700": {"slidesPerView": 2}, "1000": {"slidesPerView": 3}}'
            navigation='nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev"'
        >
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/projects/portfolio_v2.png" alt="Portfolio version 2">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Portfolio Version 2
                        </div>
                        <div class="tech-stack">
                            <img src="/images/stack-icons/angular.svg" alt="angular icon" class="stack-icon">
                            <img src="/images/stack-icons/typescript.svg" alt="typescript icon" class="stack-icon">
                            <img src="/images/stack-icons/html.svg" alt="html icon" class="stack-icon">
                            <img src="/images/stack-icons/css.svg" alt="css icon" class="stack-icon">
                            <img src="/images/stack-icons/bootstrap.svg" alt="bootstrap icon" class="stack-icon">
                        </div>
                        <div class="card-content">
                            This is the second version of my portfolio website. It is built using Angular, TypeScript,
                            HTML, CSS, and Bootstrap.
                        </div>
                        <a class="card-link" href="https://aksaim.tech">
                            Visit Site <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</section>
