.wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.contact {
    max-width: 600px;
    line-height: 1.8;
}

.lead {
    list-style: none;
    font-size: 0.9rem;
    color: var(--gray);
}

.lead.visible {
    animation: slideFromLeft 1s ease-in-out forwards;
}

.email {
    list-style: none;
    font-size: 0.9rem;
    color: var(--white);
    text-decoration: none;
    display: block;
}

.email.visible {
    animation: slideFromLeft 1s ease-in-out forwards;
}

.social-accounts {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.social-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--purple);
    border-radius: 15px 0 20px 0;
    position: relative;
    transition: 0.3s ease-in-out;
}

.social-icon-wrapper.visible {
    animation: slideFromRight 1s ease-in-out forwards;
}

.social-icon-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--purple-20);
    border-radius: 20px 0 20px 0;
    z-index: -1;
    top: 5px;
    left: 5px;
}

.social-icon-wrapper i {
    font-size: 2rem;
    color: var(--bg-color);
}

.social-icon-wrapper:hover {
    transform: translateY(-5px);
}

.social-icon-wrapper:hover::before {
    width: 0;
    height: 0;
}
