<section id="contact">
    <div class="container-lg">
        <div class="section-title animate-on-scroll">Contact</div>
        <div class="wrapper">
            <div class="contact">
                <p class="lead mb-3 animate-on-scroll">
                    Let’s connect! I'm always open to discussing new projects, creative ideas, or exciting opportunities
                    to collaborate. <br>
                    Reach out via email:
                </p>
                <a class="email animate-on-scroll"
                   href="mailto:aksaimmohamedamin@gmail.com">aksaimmohamedamin&#64;gmail.com</a>
            </div>
            <div class="social-accounts">
                <a class="social-icon-wrapper animate-on-scroll" href="https://github.com/Aksaim-mohamed-amin"
                   target="_blank"
                   aria-label="GitHub">
                    <i class="bi bi-github"></i>
                </a>
                <a class="social-icon-wrapper animate-on-scroll" href="https://www.linkedin.com/in/aksaimamin/"
                   target="_blank"
                   aria-label="LinkdIn">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="social-icon-wrapper animate-on-scroll" href="https://x.com/aksaim_amin" target="_blank"
                   aria-label="X/Twitter">
                    <i class="bi bi-twitter-x"></i>
                </a>
            </div>
        </div>
    </div>
</section>
