<section id="skills">
    <div class="container-lg">
        <h2 class="section-title animate-on-scroll">Skills</h2>
        <p class="lead animate-on-scroll">
            Through hands-on projects and continuous learning, I’ve built a span foundation in the following
            technologies:
        </p>

        <div class="cards-container">
            <div class="card left animate-on-scroll">
                <div class="card-title">Backend Development</div>
                <ul class="card-content">
                    <li><i class="bi bi-check2-circle"></i> Java: Spring Boot, Hibernate</li>
                    <li><i class="bi bi-check2-circle"></i> Python: Flask, SQLAlchemy</li>
                    <li><i class="bi bi-check2-circle"></i> C: System Programming</li>
                </ul>
            </div>

            <div class="card right animate-on-scroll">
                <div class="card-title">Frontend Development</div>
                <ul class="card-content">
                    <li><i class="bi bi-check2-circle"></i> HTML, CSS, JavaScript.</li>
                    <li><i class="bi bi-check2-circle"></i> WordPress.</li>
                    <li><i class="bi bi-check2-circle"></i> Angular, JavaFX.</li>
                </ul>
            </div>

            <div class="card left animate-on-scroll">
                <div class="card-title">Database & Storage</div>
                <ul class="card-content">
                    <li><i class="bi bi-check2-circle"></i> MySQL: Schema design, Transactions, Optimization, Backup,
                        Replication, Security.
                    </li>
                    <li><i class="bi bi-check2-circle"></i> Redis: Caching, Message Queues.</li>
                </ul>
            </div>

            <div class="card right animate-on-scroll">
                <div class="card-title">DevOps & Tools</div>
                <ul class="card-content">
                    <li><i class="bi bi-check2-circle"></i> Docker, GitHub Actions, Terraform, Puppet</li>
                    <li><i class="bi bi-check2-circle"></i> Nginx, HAProxy.</li>
                    <li><i class="bi bi-check2-circle"></i> Datadog.</li>
                </ul>
            </div>

            <div class="card left animate-on-scroll">
                <div class="card-title">Networking & System Administration</div>
                <ul class="card-content">
                    <li><i class="bi bi-check2-circle"></i> Shell Scripting.</li>
                    <li><i class="bi bi-check2-circle"></i> Linux Server Management.</li>
                    <li><i class="bi bi-check2-circle"></i> Load Balancing.</li>
                    <li><i class="bi bi-check2-circle"></i> DNS Configuration.</li>
                </ul>
            </div>

            <div class="card right animate-on-scroll">
                <div class="card-title">Soft Skills</div>
                <ul class="card-content">
                    <li><i class="bi bi-check2-circle"></i> Technical Writing.</li>
                    <li><i class="bi bi-check2-circle"></i> Problem-Solving.</li>
                    <li><i class="bi bi-check2-circle"></i> Teamwork.</li>
                    <li><i class="bi bi-check2-circle"></i> Time Management.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
