/* Global Variables */
:root {
    --bg-color: #282C33;
    --purple: #C778DD;
    --gray: #ABB2BF;
    --white: #FFFFFFFF;

    --purple-20: rgba(199, 120, 221, 0.2);
    --purple-70: rgba(199, 120, 221, 0.7);

    --rocket-path1: path('M -0.70262811,9.1341654 C 8.8019072,6.1133575 19.170221,5.8664929 28.807753,8.4315373 38.669165,11.056168 47.683873,16.580062 54.804993,23.889356 61.046945,30.29625 65.9073,38.160582 68.170786,46.814303 73.501719,67.195443 62.960017,85.631024 47.028852,90.573425 18.632737,99.382888 0.17635621,63.913686 23.186728,41.455059 32.055035,32.799397 44.767331,28.878197 57.158314,28.702408 c 12.390983,-0.175789 24.582061,3.074185 36.291225,7.131626 11.837611,4.101951 23.364821,9.04847 35.131401,13.349934 7.59122,2.775094 45.96883,6.389492 52.17384,31.086153 9.66426,38.464859 174.90918,140.702589 203.58279,191.646959 26.53483,47.14438 74.08949,72.57746 25.2841,117.80992 C 347.21726,447.56292 291.0474,395.82483 269.0794,377.04374 247.1114,358.26265 98.443438,177.10795 86.423251,177.06229');
    --rocket-path2: path('m 77.289092,310.56162 c -8.738067,7.65084 -17.496355,15.52409 -23.836104,25.25531 -3.169874,4.86561 -5.70598,10.1767 -7.152213,15.80082 -1.446234,5.62411 -1.782327,11.57041 -0.629947,17.26201 2.1723,10.72898 9.656646,20.00977 19.14653,25.46615 9.489884,5.45638 20.80118,7.28834 31.706718,6.34007 21.811074,-1.89654 41.168144,-14.15393 59.459364,-26.18519 80.55999,-52.98927 159.50357,-108.40644 237.4883,-165.11761 12.34997,-8.981 24.95736,-18.28675 33.26277,-31.10082 4.15271,-6.40704 7.14288,-13.64978 8.05936,-21.22969 0.91648,-7.57992 -0.32053,-15.50427 -4.08283,-22.14807 -3.73776,-6.60045 -9.84391,-11.71637 -16.76576,-14.81875 -6.92185,-3.10238 -14.6241,-4.2599 -22.20374,-3.96696 -15.15928,0.5859 -29.48688,6.75735 -43.23799,13.16468 -98.89646,46.08085 -189.12781,109.405 -271.214458,181.27805 z');
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--white);
}

section {
    padding: 50px 0;
}

.section-title {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--purple);
    margin-bottom: 15px;
    border-bottom: 2px dashed var(--gray);
    max-width: fit-content;
    opacity: 0;
}

.section-title.visible {
    animation: slideUp 1s ease-in-out forwards;
}


/* Custom container */
@media (min-width: 992px) {
    .container-lg {
        max-width: 1100px;
    }
}


/* Animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    30% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    50% {
        opacity: 0.7;
        transform: translateY(-30px);
    }
    70% {
        opacity: 0.8;
        transform: translateY(5px);
    }
    85% {
        opacity: 0.9;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    30% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    50% {
        opacity: 0.7;
        transform: translateY(30px);
    }
    70% {
        opacity: 0.8;
        transform: translateY(-5px);
    }
    85% {
        opacity: 0.9;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flip {
    0% {
        opacity: 0;
        transform: perspective(300px) rotateX(-5deg) rotateY(-50deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) rotateY(0deg);
    }
}

@keyframes upDown {
    from {
        transform: translateY(-100px);
        opacity: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight{
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes apearFromCenter {
    100% {
       opacity: 1;
    }
}
